---
import { getCollection, type CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

interface Props {
  limit?: number;
  artworkItems?: CollectionEntry<"artwork">[];
}

const { limit, artworkItems } = Astro.props;

// If artworkItems are passed (from pagination), use those
// Otherwise fetch all artwork (for homepage or non-paginated views)
let artwork: CollectionEntry<"artwork">[];
if (artworkItems) {
  artwork = artworkItems;
} else {
  artwork = (await getCollection("artwork")).filter((artwork) => !artwork.data.draft);
  artwork.sort((a, b) => b.slug?.localeCompare(a?.slug || "") || 0);
}
---

<div class="large-container">
  <div class="container mb-12">
    <h2 class="font-thin text-accent text-2xl w-[300px]">Artwork</h2>
    <p class="text-text-primary sm:text-lg lg:text-4xl max-w-xl">A Showcase of My Artwork, Hobby Projects & Learning</p>
  </div>

  <div class="px-5 grid gap-x-10 gap-y-24 mt-4 md:grid-cols-2 lg:grid-cols-4">
    {
      artwork.slice(0, limit).map(async (artworkItem) => (
        <a href={`/artwork/${artworkItem.slug}`} class="flex flex-col gap-2 hover:opacity-75">
          <div class="aspect-square">
            <Image
              src={artworkItem.data.image}
              width={620}
              height={620}
              alt={artworkItem.data.title}
              fit="cover"
              class="w-full h-full object-cover object-center"
            />
          </div>

          <div class="mt-0">
            <p class="text-lg lg:text-xl text-text-primary font-semibold">{artworkItem.data.title}</p>
            <p class="text-accent font-thin text-sm">{artworkItem.data.medium}</p>
          </div>
        </a>
      ))
    }
  </div>
</div>
