---
import { getCollection } from "astro:content";

const books = await getCollection("books");
books.sort((a, b) => b.slug?.localeCompare(a?.slug || "") || 0);

const { limit } = Astro.props;
---

<div class="max-w-5xl mx-auto">
  <div class="flex sm:items-center not-prose flex-col sm:flex-row gap-4 sm:gap-0">
    <h2 class="text-lg sm:text-3xl lg:text-4xl font-semibold text-white">Currently reading</h2>
  </div>
  <div class="grid lg:grid-cols-2 gap-3 lg:gap-6 mt-4">
    {
      books.slice(0, limit).map((book) => (
        // <a href={`/books/${book.slug}`} class="hover:opacity-75 not-prose">
        <article class="rounded-xl bg-white/10 p-4 xl:px-12 xl:py-8 flex items-center space-x-4 xl:space-x-6">
          <img src={`https://covers.openlibrary.org/b/olid/${book.data.olid}-M.jpg`} class="w-28" />
          <div>
            <h3 class="font-medium text-lg lg:text-xl text-white">{book.data.title}</h3>
            <div class="text-white/75 leading-tight">{book.data.subtitle}</div>

            {/* Progress Bar */}
            <div class="text-white/50 text-xs uppercase mt-3 mb-1">Progress</div>
            <div class="rounded-full w-full h-2 overflow-hidden bg-black/30">
              <div
                class="bg-white h-full"
                style={{
                  width: (100 * book.data.page_current) / book.data.page_total + "%",
                }}
              />
            </div>

            {/* Affiliate Link */}
            <a
              href={book.data.affiliate_link}
              data-book={book.data.title}
              class="ralrom-affiliate-link mt-6 rounded-md bg-[#ffc74d] px-4 py-2 font-semibold text-black shadow-sm hover:bg-white/20 inline-flex items-center gap-3"
            >
              Buy now
            </a>
          </div>
        </article>
        // </a>
      ))
    }
  </div>
</div>
