---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import dayjs from "dayjs";

const books = (await getCollection("books")).filter((book) => !book.data.draft);
books.sort((a, b) => dayjs(b.data.start_date).diff(dayjs(a.data.start_date)));

const { limit } = Astro.props;
---

<div class="grid gap-10 lg:gap-20 mt-4" style={{ gridTemplateColumns: "repeat(auto-fill, minmax(330px, 1fr))" }}>
  {
    books.slice(0, limit).map((book, bookIndex) => {
      const isComplete = book.data.page_current === book.data.page_total;
      return (
        <article class="flex items-center space-x-4 xl:space-x-6 w-full">
          <Image
            src={`https://covers.openlibrary.org/b/olid/${book.data.olid}-M.jpg`}
            alt={"Cover of the book titled: " + book.data.title}
            class="w-[112px] border-4 border-black/50"
            inferSize={true}
            loading={bookIndex < 4 ? "eager" : "lazy"}
          />
          <div class="w-full">
            <h3 class="font-medium text-lg lg:text-xl text-white !leading-tight">{book.data.title}</h3>
            <div class="text-white/75 leading-tight text-sm">{book.data.subtitle}</div>

            {/* Progress Bar */}
            <div class={["text-xs uppercase mt-3 mb-1", isComplete ? "text-green-500" : "text-white/50"].join(" ")}>
              {isComplete ? "Complete" : "Progress"}
            </div>
            <div class="max-w-[120px] rounded-full w-full h-2 overflow-hidden bg-black/30">
              <div
                class={["h-full", isComplete ? "bg-green-500" : "bg-white"].join(" ")}
                style={{
                  width: (100 * book.data.page_current) / book.data.page_total + "%",
                }}
              />
            </div>

            {/* Affiliate Link */}
            <a
              href={book.data.affiliate_link}
              data-book={book.data.title}
              class="ralrom-affiliate-link mt-6 rounded-full shadow-md bg-[#ffc74d] px-4 py-1 font-semibold text-black hover:bg-yellow-600 inline-flex items-center gap-3"
            >
              Buy on Amazon
            </a>
          </div>
        </article>
      );
    })
  }
</div>
