---
import { links } from "~src/links";
import MobileMenu from "./MobileMenu";
import { nav, type NavItem } from "~src/nav";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

const { pathname } = Astro.url;

const isActiveLink = (item: NavItem) => {
  if (item.exactMatch) {
    return pathname === item.href;
  } else {
    return pathname.startsWith(item.href);
  }
};
---

<nav
  class="fixed border-b bg-background/80 backdrop-blur-md border-white/10 border-opacity-25 py-3 w-full z-50 top-0 left-0"
  style={{
    transform: "translateZ(99999px)",
  }}
>
  <div class="container">
    <div class="flex items-center justify-between">
      <a class="flex-shrink-0 group flex items-center" href="/">
        <Image
          width={44}
          height={44}
          class="group-hover:rotate-90 transition-transform"
          src="/assets/website/logo.svg"
          alt="RalRom"
        />
        <div class="text-2xl font-semibold ml-2 text-white">RalRom</div>
      </a>

      <MobileMenu client:only="preact">
        <div class="flex flex-col gap-4">
          {
            links.map((link) => {
              return (
                <a
                  data-social={link.label}
                  href={link.link}
                  class="ralrom-social-link rounded-md bg-white/10 px-6 py-4 text-lg font-semibold text-white shadow-sm hover:bg-white/20 flex items-center gap-3"
                >
                  <Icon name={link.icon} class="w-6 h-6" />
                  {link.label}
                </a>
              );
            })
          }
        </div>
      </MobileMenu>

      <div class="hidden sm:flex gap-6">
        {
          nav.map((item) => (
            <a
              href={item.href}
              class={[
                "hover:text-accent transition-colors font-thin",
                isActiveLink(item) ? "text-accent underline underline-offset-8" : "text-white",
              ].join(" ")}
            >
              {item.name}
            </a>
          ))
        }
      </div>
      <div class="hidden sm:flex gap-6">
        {
          links.map((link) => {
            return (
              <a
                data-social={link.label}
                aria-label={link.label}
                href={link.link}
                class="ralrom-social-link transition-all rounded-full text-lg font-semibold text-white shadow-sm hover:text-accent hover:scale-125 flex items-center gap-3"
              >
                <Icon name={link.icon} class="w-6 h-6" />
              </a>
            );
          })
        }
      </div>
    </div>
  </div>
</nav>
